.grid-box {

  height: 600px;
  text-align: center;
  margin: 0 auto;

}

.portofolio-boxes img {
  gap: 1em;
  border: solid;
  height: 440px;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}

.portofolio-boxes img:hover {
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}

.contenedor-img {
  position: relative;
  /* width: 25%; */
}

.imagen-fondo {
  display: block;
  width: 100%;
}

.contenedor-texto {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease;

}

.contenedor-img:hover .contenedor-texto {
  opacity: 1;
  background-color: rgba(0, 0, 0, .5);
}

.texto {
  color: white;

  position: absolute;
  width: 100%;
  top: 50%;
  font-size: 20px;
}



.texto:hover {
  color: white;
}