.table-main {

  border: solid;
  width: 1000px;
  border-radius: 5px;
  /* background: red; */
}
.table tr {
  border-radius: 20px;
}

.table {
  border-spacing: 0 15px;
}
th{
  /* border: solid; */
  width: 100px;
}
td{
  /* background: red; */
  width: 100px;
}
i {
  font-size: 1rem !important;
}

.table tr {
  border-radius: 20px;
}

tr td:nth-child(n+5),
tr th:nth-child(n+5) {
  border-radius: 0 .625rem .625rem 0;
}

tr td:nth-child(1),
tr th:nth-child(1) {
  border-radius: .625rem 0 0 .625rem;
}

  /* table {
  color: rgb(227, 212, 212);
  color: #000;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);  background: #000;
  border-color:red ;


} */
  /* .td{
  border: solid;
  border-radius: 10px;
}
tr{
  color: white;
} */